<!DOCTYPE html>
<html>

<head>
    {% include 'navbar.html' %}
    {% load static %}
</head>

<body>
<div class="wrapper">

    <!-- Sidebar -->
    {% include 'employee_sidebar.html' %}

    <!-- Page Content -->
{% block content %}
    <h1><name style="color:white">Delete</name></h1>
    <form action="" method="post">{% csrf_token %}
        <p><name style="color:black">Are you sure you want to delete appointment details of "{{ appointment.patientname }}"?</name></p>
      <button class="btn btn-primary" style="color: white" type="submit" >Confirm</button>
    </form>
{% endblock content %}


</div>
<script src="{% static 'hospital/js/jquery.min.js' %}"></script>
<script src="{% static 'hospital/js/bootstrap.min.js' %}"></script>
<script src="{% static 'hospital/js/back-to-top-scroll.js' %}"></script>
<script src="{% static 'hospital/js/Bold-BS4-Animated-Back-To-Top.js' %}"></script>
<script src="{% static 'hospital/js/bs-init.js' %}"></script>
<script src="{% static 'hospital/js/Sidebar-Menu.js' %}"></script>
</body>

</html>