<!DOCTYPE html>
<html>

<head>
    {% include 'navbar.html' %}
     {% load static %}
</head>

<body>
<div class="wrapper">

    <!-- Sidebar -->
    {% include 'patient_sidebar.html' %}

    <!-- Page Content -->

        <div class="container-fluid">
                <p><button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fa fa-align-left"></i>
                    <span>Menu</span>
                </button>
                </p>
        <html>
<body>

{% block content %}
    <name style="color:white"><h1>Edit Appointment</h1></name>
    <form action="" method="post">{% csrf_token %}
      <name style="color:white">
          {{ form.as_p }}
      </name>
    <button class="btn btn-primary" style="color: white" type="submit">Update</button>
</form>
{% endblock content %}