{% load static %}
{% include 'navbar.html' %}

{% block title %}Forgot Your Password?{% endblock %}

<div class="extend-form">
{% block content %}
    <name style="color:white"><h1>Forgot password</h1></name>
    <name style="color:white"> <p>Please enter your email address below. Reset instructions will be sent to this email</p></name>

  <form method="POST">
    {% csrf_token %}
   <name style="color:white"> {{ form.as_p }}</name>
    <input type="submit" value="Reset Password">
  </form>
{% endblock %}