<nav id="sidebar">
        <div class="sidebar-header">
            <h3> List</h3>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="{% url 'patient_homepage' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'userprofile' %}">Profile</a>
            </li>
            <li>
                <a href="{% url 'password_change' %}">Change Password</a>
            </li>
 {% if not user.is_staff %}
            <li>
                <a href={% url 'MakeAppointments' %}>Make Appointments</a>
            </li>
 {% else %}
            <li>
                <a href={% url 'AddAppointment' %}>Add Appointments</a>
            </li>
  {% endif %}
  {% if not user.is_staff %}
          <li>
                <a href={% url 'AppointmentListView' %}>View Appointments</a>
          </li>
  {% endif %}
  {% if  user.is_staff %}
            <li>
                <a href={% url 'EmpListView' %}>View Appointments</a>
            </li>
  {% endif %}
            <li>
                <a href="{% url 'logoutuser' %}">Logout</a>
            </li>
        </ul>
</nav>
